<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="defaultPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS Z} %-5p [%t] [%c]: %msg%n" />

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="org.apache" level="OFF" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="com.gargoylesoftware" level="OFF" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="com.system.token" level="debug" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <root level="debug">
        <appender-ref ref="ConsoleAppender" />
    </root>
</configuration>
